.auth {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 395px;
  background-color: rgba($grey, .5);
  border-radius: 10px;
  overflow: hidden;

  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);

  @include desktop {
    height: auto;
  }

  @include tablet {
    height: auto;
  }

  @include mobile {
    height: auto;
    max-width: 300px;
  }

  &__info {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 350px;
    padding: 35px 20px 20px;

    @include mobile {
      padding: 30px 20px 20px;
      height: auto;
    }
  }

  &__title {
    display: block;
    position: relative;
    padding-bottom: 20px;
    font-family: $webissimo;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    color: white;

    @include mobile {
      font-size: 30px;
      padding-bottom: 15px;
      margin-bottom: 15px;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: white;
      height: 3px;
      width: 90px;
    }
  }

  &__form {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    display: flex;
    position: relative;
    align-items: flex-start;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;

    @include mobile {
      margin-bottom: 10px;
    }

    &-icon {
      display: flex;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #f0efe9;

      span {
        display: block;
        position: relative;
        margin: auto;
        color: rgba($grey, .5);

        &:before {
          position: relative;
          z-index: 20;
        }
      }

      .fa-user {
        &:after {
          content: "";
          display: block;
          position: absolute;
          width: 20px;
          height: 45px;
          background-color: #f0efe9;
          top: 47%;
          left: 55%;
          transform: translate(10%, -49%);

          @include desktop {
            top: 49%;
          }

          @include mobile {
            top: 49%;
          }
        }
      }

      .fa-key {
        &:after {
          content: "";
          display: block;
          position: absolute;
          width: 20px;
          height: 45px;
          background-color: #f0efe9;
          top: 55%;
          left: 55%;
          transform: translate(10%, -51%);
        }
      }
    }

    &-text {
      display: block;
      position: relative;
      flex: 1;
      height: 45px;
      padding: 15px 20px 15px 50px;
      border-radius: 20px;
      border: none;
    }
  }

  &__check-label {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 300;
    margin-bottom: 15px;

    @include mobile {
      margin-bottom: 10px;
    }
  }

  &__checkbox {
    display: block;
    position: relative;
    margin-right: 10px;
  }

  &__robot {
    display: block;
    position: relative;
    width: 100%;
    color: white;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
  }

  &__radio {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: white;
    font-weight: 300;

    &-label {
      display: flex;
      justify-content: center;
      align-items: center;

      &:last-child {
        margin-left: 35px;
      }
    }

    &-button {
      margin-right: 10px;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 45px;
    background-color: rgba(white, .5);

    @include mobile {
      height: auto;
      max-width: 300px;
    }

    &-item {
      display: block;
      flex-grow: 1;
      width: 50%;
      color: white;
      background-color: $light-green;
      padding: 11px 10px 9px;
      text-align: center;
      text-decoration: none;
      font-weight: 400;
      border-right: 2px solid white;
      transition: .5s;

      &:last-child {
        border-right: none;
      }

      &:hover {
        background-color: $green;
        text-decoration: none;
      }
    }
  }

  &__button {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px 25px;
    border: 1px solid white;
    border-radius: 40px;
    transition: .5s;

    @include desktop {
      right: 100px;
    }

    @include mobile {
      left: 50%;
      transform: translateX(-50%);
    }

    &:hover {
      background-color: $green;
      text-decoration: none;
      border-color: $green;
    }

    &:focus {
      outline: none;
    }

    &_hidden {
      display: none;
    }
  }
}