.auth {

  &__button {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    padding: 10px 25px;
    border: 1px solid white;
    border-radius: 40px;
    transition: .5s;

    &:hover {
      background-color: $green;
      text-decoration: none;
      border-color: $green;
    }
  }
}