.copyright {
  display: block;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: 300;

  @include desktop {
    bottom: 50px;
  }

  @include tablet {
    width: 100%;
    text-align: center;
    bottom: 35px;
  }
}