.feedback {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 380px;
  margin-top: 70px;
  background-color: rgba(#e8e8e4, .6);
  border-radius: 5px;

  @include mobile {
    width: 100%;
    max-width: 380px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    height: 420px;
    align-items: stretch;
    padding: 35px 20px 20px 20px;

    @include desktop {
      height: auto;
    }

    @include mobile {
      height: auto;
      padding-bottom: 0;
    }
  }

  &__title {
    display: block;
    position: relative;
    padding-bottom: 25px;
    font-family: $webissimo;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    color: $green-grey;

    @include mobile {
      font-size: 21px;
      line-height: 30px;
      padding-bottom: 15px;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: $green-grey;
      height: 3px;
      width: 90px;
    }
  }

  &__form {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;

    @include mobile {
      font-size: 14px;
    }
  }

  &__name {
    display: block;
    position: relative;
    height: 45px;
    border: none;
    border-radius: 30px;
    padding: 15px 20px;
    margin-bottom: 20px;
    background-color: rgba(white, .7);
    transition: .5s;

    @include mobile {
      height: 40px;
    }

    &:focus {
      outline: none;
      background-color: white;
    }

    &-error {
      display: block;
      position: absolute;
      top: 2%;
      text-align: left;
      left: 105%;
      white-space: nowrap;
      color: white;
      background-color: $error;
      padding: 5px 10px;
      z-index: 300;

      @include mobile {
        top: 15%;
        left: 30%;
        padding: 3px 5px;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -32px;
        width: 0;
        height: 0;
        border-right: 16px solid $error;
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-left: 16px solid transparent;

        @include mobile {
          top: -15px;
          left: 50px;
          border-right: 8px solid transparent;
          border-top: 8px solid transparent;
          border-bottom: 8px solid $error;
          border-left: 8px solid transparent;
        }
      }
    }
  }

  &__email {
    display: block;
    position: relative;
    height: 45px;
    border: none;
    border-radius: 30px;
    padding: 15px 20px;
    margin-bottom: 20px;
    background-color: rgba(white, .7);
    transition: .5s;

    @include mobile {
      height: 40px;
    }

    &:focus {
      outline: none;
      background-color: white;
    }

    &-error {
      display: block;
      position: absolute;
      top: 26%;
      left: 105%;
      text-align: left;
      white-space: nowrap;
      color: white;
      background-color: $error;
      padding: 5px 10px;
      z-index: 300;

      @include mobile {
        top: 36%;
        left: 30%;
        padding: 3px 5px;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -32px;
        width: 0;
        height: 0;
        border-right: 16px solid $error;
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-left: 16px solid transparent;

        @include mobile {
          top: -15px;
          left: 50px;
          border-right: 8px solid transparent;
          border-top: 8px solid transparent;
          border-bottom: 8px solid $error;
          border-left: 8px solid transparent;
        }
      }
    }
  }

  &__text {
    display: block;
    position: relative;
    height: 140px;
    border: none;
    border-radius: 20px;
    padding: 15px 20px;
    margin-bottom: 20px;
    background-color: rgba(white, .7);
    transition: .5s;
    resize: none;

    &:focus {
      outline: none;
      background-color: white;
    }

    &-error {
      display: block;
      position: absolute;
      top: 50%;
      left: 105%;
      text-align: left;
      white-space: nowrap;
      color: white;
      background-color: $error;
      padding: 5px 10px;
      z-index: 300;

      @include mobile {
        top: 91%;
        left: 30%;
        padding: 3px 5px;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -32px;
        width: 0;
        height: 0;
        border-right: 16px solid $error;
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-left: 16px solid transparent;

        @include mobile {
          top: -15px;
          left: 50px;
          border-right: 8px solid transparent;
          border-top: 8px solid transparent;
          border-bottom: 8px solid $error;
          border-left: 8px solid transparent;
        }
      }
    }
  }

  &__footer {
    display: flex;
    position: relative;
    height: 45px;
  }

  &__button {
    display: block;
    position: relative;
    width: 50%;
    background-color: rgba($light-green, .8);
    border: none;
    color: white;
    cursor: pointer;
    transition: .5s;

    &:hover {
      background-color: $green;
    }

    &:first-child {
      border-right: 1px solid rgba(white, .7);
    }

    &:last-child {
      border-left: 1px solid rgba(white, .7);
    }
  }

  &__error {
    display: none;

    &_is-error {
      display: block;
    }
  }
}

.error {
  box-shadow: inset 0 0 5px $error;
}

.success {
  box-shadow: inset 0 0 5px $green;
}