.header, .header_about {
  display: block;
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;

  &__bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/water.jpg);
    background-size: cover;

    @include desktop {
      background-position: 0;
    }
  }

  &__name {
    display: block;
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include desktop {
      width: 60%;
      transform: translate(-50%, -55%);
    }

    svg {
      width: 100%;
      height: 600px;
      fill: rgba(white, .2);
    }
  }

  &__user {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
  }

  &__socials {
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;

    .socials {
      margin: 0;

      &__link {

        svg {
          fill: white;
          transition: .5s;

          &:hover {
            fill: $green;
          }
        }
      }
    }
  }

  &__arrows {
    display: flex;
    position: absolute;
    top: 400px;
    left: 50%;
    width: 1920px;
    transform: translateX(-50%);
  }

  &__arrow-left {
    width: 50%;

    svg {
      fill: $bg-green-grey;
    }
  }

  &__arrow-right {
    width: 50%;
    margin-top: 2px;

    @include desktop {
      margin-right: 1px;
    }

    svg {
      fill: white;
    }
  }

  &__next {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
      fill: rgba(white, .7);
      transition: .5s;

      &:hover {
        fill: white;
      }
    }
  }

  &_portfolio {
    .header__arrows {
      .header__arrow-left, .header__arrow-right {
        svg {
          fill: white;
        }
      }
    }
  }

  &_blog {
    height: 440px;

    .header__bg {
      top: 0;
      left: 0;
      background-image: url(../images/water.jpg);
      background-size: cover;
      background-position-y: 540px;

      @include desktop {
        background-position-y: 715px;
      }
    }

    .header__arrows {
      top: 270px;

      .header__arrow-left, .header__arrow-right {
        svg {
          fill: $bg-white;
        }
      }
    }
  }
}