.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  width: 50%;

  &__title {
    font-family: $webissimo;
    font-size: 63px;
    font-weight: 700;
    color: $grey;
    width: 100%;
    text-align: center;
  }

  &__pic {

    img {

    }
  }

  &__heading {

  }

  &__info {

  }

  &__text {

  }
}