.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  width: 50%;
  min-height: 100%;
  background-color: $bg-green-grey;

  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  @include tablet {
    width: 100%;
  }

  &__title {
    display: block;
    position: relative;
    font-family: $webissimo;
    font-size: 63px;
    font-weight: 500;
    color: $grey;
    width: 100%;
    text-align: center;

    @include desktop {
      width: 40%;
    }

    @include tablet {
      margin-top: 40px;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: $grey;
      height: 2px;
      width: 90px;
    }

    &-pic {
      display: block;
      position: absolute;
      top: -45px;
      left: 165px;
      width: 350px;

      @include desktop {
        left: 15px;
      }

      @include tablet {
        left: 50%;
        transform: translateX(-50%);
      }

      svg {
        width: 100%;
        height: 100%;
        fill: rgba($light-green, .1);
      }
    }
  }

  &__pic {
    width: 440px;
    height: 440px;
    overflow: hidden;

    @include tablet {
      width: 475px;
      height: 475px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__heading {
    display: block;
    position: relative;
    margin: 20px;
    padding-bottom: 10px;
    font-family: $webissimo;
    font-size: 35px;
    font-weight: 400;
    color: $grey;
    width: 100%;
    text-align: center;

    @include desktop {
      width: 60%;
      margin-top: 40px;
      margin-left: auto;
      margin-bottom: 0;
    }

    @include tablet {
      margin-top: 50px;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: $grey;
      height: 2px;
      width: 90px;
    }
  }

  &__info {
    display: block;
    margin: 0 80px 40px 80px;
    font-weight: 400;
    color: $grey;

    @include desktop {
      width: 60%;
      padding: 25px 65px;
      margin: 0;
      margin-left: auto;
    }

    @include tablet {
      margin: 0;
      margin-bottom: 40px;
      padding: 0 145px;
    }

    p {
      margin-bottom: 20px;
    }
  }
}