.preloader {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  //background-color: rgba($light-green, .8);
  background-image: url(../images/forest_prel_bg.jpg);
  background-size: cover;

  &__spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    margin: auto;

    @include tablet {
      width: 100px;
      height: 100px;
    }

    @include mobile {
      width: 100px;
      height: 100px;
    }
  }

  &__percents {
    display: block;
    position: relative;
    color: white;

    @include mobile {
      font-size: 14px;
    }
  }

  &__river {
    display: block;
    position: relative;
    width: 75px;
    height: 75px;

    svg {
      width: 100%;
      height: 100%;
      stroke: white;
      stroke-dasharray: 60;
      fill: transparent;
      animation: svg-flow 2s linear infinite;
    }
  }
}

@keyframes svg-flow {
  from {
    stroke-dashoffset: 180;
  }
  to {
    stroke-dashoffset: 60;
  }
}