.slider {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;

  @include tablet {
    flex-direction: column;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 750px;
    padding: 140px;
    background-color: $bg-green-grey;

    @include desktop {
      padding: 0 280px;
    }

    @include tablet {
      order: 2;
      background-color: white;
      width: 100%;
      height: auto;
      padding: 45px 155px 60px 155px;
    }
  }

  &__title {
    display: block;
    position: relative;
    padding-bottom: 25px;
    font-family: $webissimo;
    font-size: 35px;
    line-height: 41px;
    text-align: center;

    @include tablet {
      font-size: 30px;
      padding-bottom: 15px;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: $grey;
      height: 2px;
      width: 90px;

      @include tablet {
        height: 3px;
      }
    }
  }

  &__skills {
    display: block;
    text-align: center;
    font-weight: 600;
    color: $green;
    margin: 25px 0;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__button {
    display: block;
    margin-top: 35px;
    padding: 15px 20px;
    border-radius: 30px;
    background-color: $green;
    text-decoration: none;
    transition: .5s;

    @include desktop {
      background-color: $light-green;
    }

    @include tablet {
      margin-top: 40px;
    }

    span {
      color: white;
    }
    span:first-child {
      margin-right: 10px;
    }

    span:hover {
      color: white;
    }

    &:hover {
      background-color: $light-green;

      @include desktop {
        background-color: $green;
      }
    }
  }

  &__pics {
    display: block;
    position: relative;
    width: 50%;
    height: 525px;

    @include desktop {
      padding: 50px 140px;
    }

    @include tablet {
      order: 1;
      width: 100%;
      background-color: $bg-green-grey;
    }

    img {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include desktop {
        display: inline;
        position: static;
        top: auto;
        left: auto;
        transform: none;
        width: 100%;
        height: auto;
      }

      @include tablet {
        width: 80%;
        height: auto;
        top: 55%;
      }
    }
  }

  &__controls {
    display: flex;
    width: 50%;
    margin-left: auto;
    height: 225px;
    margin-top: -225px;

    @include desktop {
      height: 225px;
    }

    @include tablet {
      order: 3;
      margin: 0;
      width: 100%;
      height: 215px;
    }

    &-down {
      position: relative;
      width: 50%;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }

      svg {
        position: absolute;
        width: 45px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: rgba(white, .7);
        transition: .5s;
      }

      &:hover {

        svg {
          fill: white;
        }
      }
    }

    &-up {
      width: 50%;
      position: relative;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }

      svg {
        position: absolute;
        width: 45px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: rgba(white, .7);
        transition: .5s;
      }

      &:hover {

        svg {
          fill: white;
        }
      }
    }
  }
}