.socials {
  display: flex;
  justify-content: center;
  margin: 35px 0;

  &__item {
    height: 20px;
    max-width: 25px;

    &:nth-child(2) {
      margin: 0 30px;
    }
  }

  &__link {

    svg {
      width: 100%;
      height: 100%;
      fill: rgba(white, .5);
      transition: .5s;

      &:hover {
        fill: $green;
      }
    }
  }
}