.totop {
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 230px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;

  @include desktop {
    bottom: 215px;
  }

  @include tablet {
    bottom: 310px;
  }

  svg {
    width: 100%;
    height: 100%;
    fill: rgba(white, .7);
    transition: .5s;
  }

  &:hover {
    svg {
      fill: white;
    }
  }
}