nav.blog-nav
    ul.blog-nav__list
        a.blog-nav__link(href='#first')
            li.blog-nav__item Здесь будет моя первая статья
        a.blog-nav__link(href='#second')
            li.blog-nav__item А здесь вторая
        a.blog-nav__link(href='#third')
            li.blog-nav__item Здесь третья
        a.blog-nav__link(href='#forth')
            li.blog-nav__item А здесь четвертая