nav.blog-nav
    ul.blog-nav__list
        li.blog-nav__item.blog-nav__item_active Самое важное в SASS
        li.blog-nav__item Приёмы в вёрстке, без которых не обходится ни один сайт
        li.blog-nav__item Самый необходимый набор Gulp плагинов
        li.blog-nav__item Почему я выбрал Jade