section.easy-slider
    .easy-slider__slide
        .easy-slider__wrapper#slider
            .easy-slider__container#itemOne
                .easy-slider__pic
                    img(src='assets/images/burgers.jpg' alt='Mr.Burger web-site')
                .easy-slider__info
                    .easy-slider__info-container
                        .easy-slider__title Сайт ресторана Mr.Burger
                        .easy-slider__skills HTML, CSS, JQUERY
                        a(href='sites/burgers' target='_blank').easy-slider__button
                            span.fa.fa-link
                            span.easy-slider__button-text Посмотреть сайт
            .easy-slider__container#itemTwo
                .easy-slider__pic
                    img(src='assets/images/portfolio-noob.jpg' alt='My first portfolio website')
                .easy-slider__info
                    .easy-slider__info-container
                        .easy-slider__title Мой первый сайт (портфолио)
                        .easy-slider__skills HTML, CSS
                        a(href='sites/portfolio-noob' target='_blank').easy-slider__button
                            span.fa.fa-link
                            span.easy-slider__button-text Посмотреть сайт
            .easy-slider__container#itemThree
                .easy-slider__pic
                    img(src='assets/images/this-portfolio.jpg' alt='Сайт, на котором вы сейчас находитесь!')
                .easy-slider__info
                    .easy-slider__info-container
                        .easy-slider__title Мой новый красивый сайт-портфолио
                        .easy-slider__skills HTML, CSS, JAVASCRIPT / JQUERY
                        a(href='index.html' target='_blank').easy-slider__button
                            span.fa.fa-link
                            span.easy-slider__button-text Посмотреть сайт
            .easy-slider__container#itemFour
                .easy-slider__pic
                    img(src='assets/images/vera-web.jpg' alt='Сайт моей жены Веры')
                .easy-slider__info
                    .easy-slider__info-container
                        .easy-slider__title Сайт-визитка фотографа
                        .easy-slider__skills HTML, CSS, JQUERY
                        a(href='http://verarazdorskaya.ru/' target='_blank').easy-slider__button
                            span.fa.fa-link
                            span.easy-slider__button-text Посмотреть сайт
    button.easy-slider__arrow-left#prev
        svg.easy-slider__arrow-left-svg
            use(xlink:href='assets/icons/sprite.svg#portf_arrow_up' viewBox='0 0 42.736 27.435')
    button.easy-slider__arrow-right#next
        svg.easy-slider__arrow-right-svg
            use(xlink:href='assets/icons/sprite.svg#portf_arrow_up' viewBox='0 0 42.736 27.435')
    ul.easy-slider__list
        li.easy-slider__item.easy-slider__item_active(data-pos='0')
        li.easy-slider__item(data-pos='-100%')
        li.easy-slider__item(data-pos='-200%')
        li.easy-slider__item(data-pos='-300%')