#success.feedback-modal.popup
    .feedback-modal__content
        .feedback-modal__heading Спасибо!
        .feedback-modal__text Ваше сообщение отправлено.
    button.form__button.close-button(type="button") Закрыть
#error.feedback-modal.popup
    .feedback-modal__content
        .feedback-modal__heading Что-то пошло не так...
        .feedback-modal__text Произошла ошибка. Попробуйте позднее.
    button.form__button.close-button(type="button") Закрыть