.feedback
    .feedback__title
    form.feedback__form
        input.feedback__name
        input.feedback__email
        input.feedback__text
    .feedback__footer
        input.feedback__button
        input.feedback__button