footer.footer
    .footer__up
        .footer__info Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        .footer__nav
            ul.footer__nav-list
                li.footer__nav-item
                    a.footer__nav-link(href='portfolio.html') Мои работы
                li.footer__nav-item
                    a.footer__nav-link(href='about.html') Обо мне
                li.footer__nav-item
                    a.footer__nav-link(href='blog.html') Блог
                li.footer__nav-item
                    a.footer__nav-link(href='index.html') Авторизация
            include ../modules/socials
        .footer__quote
            em Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
            br
            em — Martin Golding
    .footer__down
        include ../modules/copyright