header.header.header_blog
    .header__bg.parallax-layer.parallax-bg
    .header__user.parallax-user
        include ../modules/user_blog
    .header__socials
        include ../modules/socials
    include ../modules/menu-button
    .header__arrows
        .header__arrow-left
            svg.header__left-svg(viewBox='0 0 900.006 1013.986')
                use(xlink:href='assets/icons/sprite.svg#about_bg_left')
        .header__arrow-right
            svg.header__right-svg(viewBox='0 0 900.006 1013.986')
                use(xlink:href='assets/icons/sprite.svg#about_bg_right')
    .header__next
        svg.header__next-svg
            use(xlink:href='assets/icons/sprite.svg#arrow_down' viewBox="0 0 25.18 16.164")