section.hero
    h1.hero__title ОБО МНЕ
        span.hero__title-pic
            svg.hero__title-svg
                use(xlink:href='assets/icons/sprite.svg#about_header' viewBox="0 0 498.161 175.44")
    .hero__pic
        img(src='assets/images/avatar.jpg')
    h2.hero__heading КТО Я
    .hero__info
        p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!