.main-menu
    nav.main-menu__nav
        ul.main-menu__nav-list
            li.main-menu__nav-item.main-menu__nav-item_active
                a.main-menu__nav-link(href='portfolio.html') МОИ РАБОТЫ
            li.main-menu__nav-item
                a.main-menu__nav-link(href='about.html') ОБО МНЕ
            li.main-menu__nav-item
                a.main-menu__nav-link(href='blog.html') БЛОГ
            li.main-menu__nav-item
                a.main-menu__nav-link(href='index.html') ГЛАВНАЯ