section.map
    .map__loader#map
    .contacts
        h2.contacts__title КОНТАКТЫ
        ul.contacts__list
            li.contacts__item
                span.fa.fa-skype(aria-hidden='true')
                span.contacts__name quitesocial
            li.contacts__item
                span.fa.fa-envelope(aria-hidden='true')
                span.contacts__name quitesocial@yandex.ru
            li.contacts__item
                span.fa.fa-phone(aria-hidden='true')
                span.contacts__name +7 985 057 66 65
            li.contacts__item
                span.fa.fa-map-marker(aria-hidden='true')
                span.contacts__name Москва, пр-т Вернадского 119