.preloader
    .preloader__spinner
        //.preloader__animation
        .preloader__percents 0%
        .preloader__river
            svg.preloader__river-svg
                use(xlink:href='assets/icons/sprite.svg#forest_cut' viewBox='0 0 47.983002 30.493999')