section.reviews
    .reviews__bg
    .reviews__bg-leave-1
    .reviews__bg-leave-2
    .reviews__bg-leave-3
    h2.reviews__title ЧТО ОБО МНЕ ГОВОРЯТ
        .reviews__title-pic
            svg.reviews__title-svg
                use(xlink:href='assets/icons/sprite.svg#about_header' viewBox='0 0 498.161 175.44')
    .reviews__ppl
        .reviews__quote
            .reviews__userpic.reviews__userpic_kov
            .reviews__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            .reviews__sign
                span.reviews__name Ковальчук Дмитрий
                span.reviews__prof - основатель LoftSchool
        .reviews__quote
            .reviews__userpic.reviews__userpic_sab
            .reviews__text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах!
            .reviews__sign
                span.reviews__name Сабанцев Владимир
                span.reviews__prof - преподаватель
    include ../modules/feedback