section.skills
    h2.skills__title ЧЕМ Я МОГУ БЫТЬ ВАМ ПОЛЕЗЕН
    .skills__text Больше всего меня привлекет frontend-разработка, но я активно знакомлюсь с технологиями, которые используются в backend-разработке. А теперь по порядку:
    .skills__container
        h3.skills__heading Frontend
        ul.skills__frontend
            li.skills__frontend-item
                svg.skills__circle(width='110' height='110')
                    circle.skills__circle-first(r='45' cx='50%' cy='50%' fill='none')
                    circle.skills__circle-second.skills__circle-85(r='45' cx='50%' cy='50%'  transform='rotate(-90 55 55)')
            li.skills__frontend-item
                svg.skills__circle(width='110' height='110')
                    circle.skills__circle-first(r='45' cx='50%' cy='50%' fill='none')
                    circle.skills__circle-second.skills__circle-85(r='45' cx='50%' cy='50%'  transform='rotate(-90 55 55)')
            li.skills__frontend-item
                svg.skills__circle(width='110' height='110')
                    circle.skills__circle-first(r='45' cx='50%' cy='50%' fill='none')
                    circle.skills__circle-second.skills__circle-45(r='45' cx='50%' cy='50%'  transform='rotate(-90 55 55)')
        h3.skills__heading Backend
        ul.skills__backend
            li.skills__backend-item
                svg.skills__circle(width='110' height='110')
                    circle.skills__circle-first(r='45' cx='50%' cy='50%' fill='none')
                    circle.skills__circle-second.skills__circle-15(r='45' cx='50%' cy='50%'  transform='rotate(-90 55 55)')
            li.skills__backend-item
                svg.skills__circle(width='110' height='110')
                    circle.skills__circle-first(r='45' cx='50%' cy='50%' fill='none')
                    circle.skills__circle-second.skills__circle-30(r='45' cx='50%' cy='50%'  transform='rotate(-90 55 55)')
        h3.skills__heading Workflow
        ul.skills__workflow
            li.skills__workflow-item
                svg.skills__circle(width='110' height='110')
                    circle.skills__circle-first(r='45' cx='50%' cy='50%' fill='none')
                    circle.skills__circle-second.skills__circle-70(r='45' cx='50%' cy='50%'  transform='rotate(-90 55 55)')
            li.skills__workflow-item
                svg.skills__circle(width='110' height='110')
                    circle.skills__circle-first(r='45' cx='50%' cy='50%' fill='none')
                    circle.skills__circle-second.skills__circle-75(r='45' cx='50%' cy='50%'  transform='rotate(-90 55 55)')
            li.skills__workflow-item
                svg.skills__circle(width='110' height='110')
                    circle.skills__circle-first(r='45' cx='50%' cy='50%' fill='none')
                    circle.skills__circle-second.skills__circle-15(r='45' cx='50%' cy='50%'  transform='rotate(-90 55 55)')