section.slider
    .slider__info
        .slider__title САЙТ ШКОЛЫ ОНЛАЙН ОБРАЗОВАНИЯ
        .slider__skills HTML, CSS, JAVASCRIPT
        a(href='#').slider__button
            span.fa.fa-link
            span.slider__button-text Посмотреть сайт
    .slider__controls
        .slider__pics
            img.slider__pics-img(src='assets/images/work-1.png')
        .slider__buttons
            .slider__buttons-down
                img.slider__buttons-down-pic(src='assets/images/work-2.png')
                svg.slider__buttons-down-svg
                    use(xlink:href='assets/icons/sprite.svg#portf_arrow_down' viewBox='0 0 42.736 27.435')
            .slider__buttons-up
                img.slider__buttons-up-pic(src='assets/images/work-3.png')
                svg.slider__buttons-up-svg
                    use(xlink:href='assets/icons/sprite.svg#portf_arrow_up' viewBox='0 0 42.736 27.435')