ul.socials
    li.socials__item
        a.socials__link(href='https://vk.com/quitesocial' target='_blank')
            svg.socials__svg
                use(xlink:href='assets/icons/sprite.svg#vk' viewBox="0 0 30.011 17.123")
    li.socials__item
        a.socials__link(href='https://github.com/quitesocial' target='_blank')
            svg.socials__svg
                use(xlink:href='assets/icons/sprite.svg#github' viewBox="0 0 26 22")