ul.socials
    li.socials__item
        a.socials__link(href='#')
            svg.socials__svg
                use(xlink:href='assets/icons/sprite.svg#vk')
    li.socials__item
        a.socials__link(href='#')
            svg.socials__svg
                use(xlink:href='assets/icons/sprite.svg#github')
    li.socials__item
        a.socials__link(href='#')
            svg.socials__svg
                use(xlink:href='assets/icons/sprite.svg#in')