nav.touch-nav
    ul.blog-nav__list
        a.blog-nav__link(href='#sass')
            li.blog-nav__item Самое важное в SASS
        a.blog-nav__link(href='#layout')
            li.blog-nav__item Приёмы в вёрстке, без которых не обходится ни один сайт
        a.blog-nav__link(href='#gulp')
            li.blog-nav__item Самый необходимый набор Gulp плагинов
        a.blog-nav__link(href='#jade')
            li.blog-nav__item Почему я выбрал Jade
        button.touch-button