.user.user_blog
    .user__pic
        img(src='assets/images/avatar.jpg')
    .user__name-pic
        svg.user__name-svg
            use(xlink:href='assets/icons/sprite.svg#blog_header' viewBox='0 0 302.193 208.012')
    h1.user__name БЛОГ
    .user__desc Статьи, которые я написал