.welcome.animated.slideInDown
    .welcome__info
        include ../modules/user
        include ../modules/socials
    nav.welcome__nav
        a.welcome__nav-item(href='portfolio.html') Мои работы
        a.welcome__nav-item(href='about.html') Обо мне
        a.welcome__nav-item(href='blog.html') Блог