extends ../template

block title
    title Обо мне

block content
    include ../modules/header
    .main-container
        include ../modules/hero
        include ../modules/skills
    include ../modules/map
    include ../modules/footer