extends ../template

block title
    title Обо мне

block content
    include ../modules/preloader
    .parallax-wrapper#parallax
        include ../modules/header_about
        .main-container
            include ../modules/hero
            include ../modules/skills
        include ../modules/map
        include ../modules/footer
    include ../modules/main-menu_about