extends ../template

block title
    title Добро пожаловать!

block content
    include ../modules/preloader
    .wrapper#parallax
        .welcome-bg
            img.welcome-bg__pic.parallax-layer(src='assets/images/water.jpg')
        .flipper
            include ../modules/welcome
            include ../modules/auth
        button.auth__button(href='#') Авторизоваться
        include ../modules/copyright