extends ../template

block title
    title Добро пожаловать!

block content
    .wrapper#parallax
        include ../modules/welcome
        include ../modules/auth
        button.auth__button(href='#') Авторизоваться
        include ../modules/copyright