extends ../template

block title
    title Добро пожаловать!

block content
    .wrapper
        include ../modules/welcome
        include ../modules/auth
        a.auth__button(href='#') Авторизоваться
        include ../modules/copyright